<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DriverReach" parallel="tests" thread-count="5">

    <test name="test Chrome" parallel="tests" thread-count="2">
        <parameter name="browser" value="chrome"  />
<classes>
    <class name="com.selenide_tests.DriverTest"/>
    <class name="com.selenide_tests.DriverCase2" />
</classes>
    </test>

    <test name="test IE" parallel="tests" thread-count="2">
        <parameter name="browser" value="internet explorer" />
<classes>
    <class name="com.selenide_tests.DriverTest"/>
    <class name="com.selenide_tests.DriverCase2"/>
</classes>
    </test>



</suite>